global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'api'
    scrape_interval: 5s
    static_configs:
      - targets: ['contacts.api:8080']
  - job_name: 'postgres'
    scrape_interval: 5s
    static_configs:
      - targets: ["postgres.exporter:9187"]
